.bars {
  height: 60vh !important;
  display: flex;
  justify-content: center;
}

.bar {
  background-color: hsl(180, 100%, 82%);
  margin-right: 3px;
  display: inline-block;
  transition: all 0.1s ease;
  cursor: pointer;
  border-radius: 3px;
  transition: 1;
  text-align: center;
  font-weight: 600;
  color: rgb(0, 135, 189);
}
.swap,
.current,
.tagged,
.search {
  background-color: tomato;
}
.sorted {
  background-color: #62fcc9;
}
