.githubLink {
  text-decoration: none;
  color: rgb(221, 221, 221) !important;
  font-size: 13px;
}
.githubLink:hover {
  color: rgb(255, 255, 255) !important;
}
.dark-light {
  margin-right: 10px;
}
.dark-light img {
  width: 20px;
}
